@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  background-color: #e9edee;
  font-family: "Open Sans";
}
h1 {
  font-size: 36px;
}
p {
  font-size: 14px;
}
.hbg {
  background-color: #222f3f;
}
.hlogo {
  width: 100px;
}
.indice {
  width: 100%;
  display: inline-flex;
  color: white;
  background-color: #364758;
  text-decoration: none;
}
.indice a {
  color: white;
  text-decoration: none;
}
.indice span {
  padding: 5px 10px;
}
.giftcard {
  padding: 10px;
  margin: 20px;
  color: white;
  background-color: orangered;
  text-align: center;
}
.aaa {
  width: 100%;
}
.bgimg {
  width: 100%;
  height: 150px;
  background-image: url(./images/bg-image.png);
  display: flex;
  flex-direction: column;
  /* non riuscivo a metterli in colonna senza la flex direction */
  background-size: 100%;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.bgimg p {
  padding: 15px;
}

.choices {
  margin: 20px;
  padding: 10px;
  background-color: white;
}
.choicest {
  margin-bottom: 15px;
}
.choicesg {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
}
.choicess {
  font-size: 16px;
  color: #0073e6;
}
.choicess p {
  text-decoration: none;
}
.choicesi {
  position: relative;
  width: 100%;
  height: 400px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.choicesi img {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  object-fit: cover;
}
.visaud {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin: 20px;
  text-align: center;
}
.visaud .imgav img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 15px auto;
}
.tav {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.tav a {
  text-decoration: none;
}
.ifooter {
  text-align: center;
  background-color: #364758;
  padding: 20px;
}
.ifooter a {
  color: white;
}
.footer {
  padding: 20px 50%;
  background-color: #222f3f;
}
.footer img {
  width: 200px;
}
